* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fafafa;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }
}
