.card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height: 15rem;
}
.card-content {
  padding: 2rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-title {
  margin-bottom: 1rem;
}
.card-text > span {
  font-weight: 700;
}
